* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}
body {
  background-color: #1b1a55;
  color: white;
}
.container {
  margin: 150px;
  width: 90%;
  max-width: 750px;
}

.display {
  width: 60%;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: white;
  border-radius: 20px;
}
.copyimage {
  width: 20px;
  position: absolute;
  right: 1300px;
  top: 340px;
  cursor: pointer;
}
.container h1 span {
  color: aqua;
  font-size: 50px;
}
.display input {
  border: 0;
  outline: 0;
  font-size: 20px;
}
.generatorimg {
  width: 30px;
  border-radius: 20px;
  position: absolute;
  left: 160px;
}
.genbutton {
  width: 30%;
  height: 50px;
  border-radius: 20px;
  font-size: 20px;
  background-color: aquamarine;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.genbutton:hover {
  opacity: 70%;
  transition: ease 0.3s;
}

p {
  background-color: gray;
  width: 10%;
  border-radius: 10px;
  padding: 5px;
  margin-left: 20px;
  animation-name: copy;
  gap: 10px;
}
